= form_for([@topico, @pergunta], html: { class: 'form-horizontal' }) do |f| 
  = render 'shared/error_messages', object: f.object
  .form-group
    = f.label :enunciado, :class => "col-sm-3 control-label"
    .col-sm-9
      = f.text_field :enunciado, :class => "form-control", :required => true
  .form-group
    = f.label :tipo, :class => "col-sm-3 control-label"
    .col-sm-9
      -if button == "Cadastrar"
        -label = "Selecione um Tipo"
      -else
        -label = @pergunta.tipo.to_s  
      = f.select :tipo, ([["0/10", "interge r"],["V/F", "boolean"],["Data", "date"]]), {:prompt => label } , :class => "col-sm-9 form-control", :required => true
  .form-group
    .col-sm-offset-3.col-sm-9  
      = f.submit button, :class => "btn btn-success"