<p id="notice"><%= notice %></p>

<p>
  <strong>Enunciado:</strong>
  <%= @pergunta.enunciado %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @pergunta.tipo %>
</p>

<%= link_to 'â† Voltar', topico_perguntas_path(@pergunta.topico) %> |
<%= link_to 'Editar', edit_pergunta_path(@pergunta) %>