<h1>Disciplinas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Sigla</th>
      <th>Número de Professores</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @disciplinas.each do |disciplina| %>
      <tr>
        <td><%= disciplina.nome %></td>
        <td><%= disciplina.sigla %></td>
        <td><%= disciplina.qtd_professores %></td>
        <td><%= link_to 'Exibir', disciplina %></td>
        <td><%= link_to 'Editar', edit_disciplina_path(disciplina) %></td>
        <td><%= link_to 'Deletar', disciplina, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '← Voltar', curso_path(@curso) %> |
<%= link_to 'Nova Disciplina', new_curso_disciplina_path(@curso) %>
