.panel.panel-success
  .panel-heading
    %h3.panel-title 
      = link_to "", questionario_path(@curso.questionario_id), :class => "glyphicon glyphicon-home pull-right"
      Disciplinas de 
      =@curso.nome 
      %small
        %strong
          Período
        =@curso.periodo  
      %span.badge= @disciplinas.count 
  .panel-body
    = "<div class='col-lg-12'><div class='alert alert-success'><strong>Não existem Disciplinas cadastradas!</strong> É necessário cadastrar uma nova disciplina clicando no botão <strong>Nova Disciplina</strong>.</div></div>".html_safe if @disciplinas.empty?   
    .col-lg-12
      = form_tag destroy_multiple_curso_disciplinas_path, method: :delete do  //
        %table.table.table-hover
          %thead
            %tr
              %th{:style => "width: 5px;"}
              %th{:style => "width: 7%;"} Sigla
              %th{:style => "width: 30%;"} Nome
              %th Qtd de Professores
              %th{:style => "width: 5px;"}  
              %th{:style => "width: 5px;"}  
              %th{:style => "width: 5px;"} 
          %tbody
            - @disciplinas.each do |disciplina|
              %tr
                %td= check_box_tag "disciplinas[]", disciplina.id 
                %td= disciplina.sigla
                %td= disciplina.nome
                %td= disciplina.qtd_professores
                %td= link_to '', edit_disciplina_path(disciplina), :class => "glyphicon glyphicon-edit"
                %td= link_to '', disciplina, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "glyphicon glyphicon-trash"
                %td= link_to "Professor", disciplina_turmas_path(disciplina), :id => "option"
        .well.btn-group.col-sm-12
          .pull-right
            = submit_tag "Deletar", :class => "btn btn-default"
            = link_to 'Nova Disciplina', new_curso_disciplina_path(@curso), :class => "btn btn-primary" 
%ul.pager
  %li.previous
    = link_to '← Voltar', questionario_cursos_path(@curso.questionario_id)