<%= form_for([@disciplina, @turma]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :sigla %><br>
    <%= f.text_field :sigla %>
  </div>

  <div class="field">
    <%= f.label :funcionario_id %><br>
    <%= f.collection_select :funcionario_id, Funcionario.joins(:area).where('areas.questionario_id' => @turma.disciplina.curso.questionario_id), :id, :nome %>
    
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
