<h1>Turmas</h1>

<table>
  <thead>
    <tr>
      <th>Sigla</th>
      <th>Professor</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @turmas.each do |turma| %>
      <tr>
        <td><%= turma.sigla %></td>
        <td><%= turma.professor %></td>
        <td><%= link_to 'Exibir', turma %></td>
        <td><%= link_to 'Editar', edit_turma_path(turma) %></td>
        <td><%= link_to 'Deletar', turma, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '← Voltar', disciplina_path(@disciplina) %> |
<%= link_to 'Nova Turma', new_disciplina_turma_path(@disciplina) %>