.panel.panel-success
  .panel-heading
    %h3.panel-title 
      = link_to "", questionario_path(@disciplina.curso.questionario), :class => "glyphicon glyphicon-home pull-right"
      Turmas da Disciplina
      =@disciplina.nome
      %span.badge= @turmas.count 
  .panel-body 
    = "<div class='col-lg-12'><div class='alert alert-success'><strong>Não existem Turmas cadastradas!</strong></div></div>".html_safe if @turmas.empty?   
    .col-lg-12
      %table.table.table-hover
        %thead
          %tr
            %th{:style => "width: 5px;"}
            %th{:style => "width: 5%;"} Sigla
            %th Professor
            %th{:style => "width: 5px;"}  
            %th{:style => "width: 5px;"}  
            %th{:style => "width: 5px;"}  
        %tbody
          - @turmas.each do |turma|
            %tr
              %td= check_box_tag "disciplinas[]", turma.id 
              %td= turma.sigla
              -if turma.funcionario
                %td= turma.funcionario.nome
              -else
                %td.warning Sem Professor
              %td= link_to '', turma_path(turma), :class => "glyphicon glyphicon-eye-open"
              %td= link_to '', edit_turma_path(turma), :class => "glyphicon glyphicon-edit"
              %td= link_to '', turma, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "glyphicon glyphicon-trash"
%ul.pager
  %li.previous
    = link_to '← Voltar', curso_disciplinas_path(@disciplina.curso)