%p
  %strong Sigla:
  = @turma.sigla 
%p
  %strong Professor:
  = @turma.funcionario.nome if @turma.funcionario 

%strong Quantidade de Alunos: 
= @turma.usuarios.count
%ul
  - @turma.usuarios.each do |usuario| 
    %li= usuario.id.to_s + " - " + usuario.nome
%ul.pager
  %li.previous
    = link_to '← Voltar', votacao_questionario_cursos_path(@turma.disciplina.curso.questionario) 