<p id="notice"><%= notice %></p>

<p>
  <strong>Sigla:</strong>
  <%= @turma.sigla %>
</p>

<p>
  <strong>Professor:</strong>
  <%= @turma.funcionario.nome if @turma.funcionario %>
</p>

<strong>Quantidade de Alunos: </strong>
<%= @turma.usuarios.count %>
<ul>
<% @turma.usuarios.each do |usuario| %>
	<li><%= usuario.id.to_s + " - " + usuario.nome %></li>
<% end %>
</ul>

<%= link_to 'â† Voltar', disciplina_turmas_path(@turma.disciplina) %> |
<%= link_to 'Editar', edit_turma_path(@turma) %>
