<h1>TAEs</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Prontuario</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @taes.each do |tae| %>
      <tr>
        <td><%= tae.nome %></td>
        <td><%= tae.prontuario %></td>
        <td><%= tae.email %></td>
        <td><%= link_to 'Exibir', tae %></td>
        <td><%= link_to 'Editar', edit_tae_path(tae) %></td>
        <td><%= link_to 'Deletar', tae, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '← Voltar', area_path(@area) %> |
<%= link_to 'Novo TAE', new_area_tae_path(@area) %>
