.panel-body
  .row
    %section.col-lg-3.config
      %small 
        %strong Visualisar
      %h4= link_to 'Áreas e Funcionários',votacao_questionario_areas_path(@questionario)
    .col-lg-1
    %section.col-lg-3.config
      %small 
        %strong Visualisar
      %h4= link_to 'Cursos, Disciplinas e Turmas', votacao_questionario_cursos_path(@questionario)
    .col-lg-1
    %section.col-lg-3.config
      %small 
        %strong Visualisar
      %h4= link_to 'Questionário', questionario_modelos_path(@questionario)
.panel-footer	
  .row
    .col-sm-6.text-left
      %p
        %strong Início :
        = questionario.inicio_votacao
        |
        %strong Previsão de Término:
        = @questionario.previsao_termino 
    .col-sm-6.btn-group.text-right
      = form_tag questionario_encerrar_votacao_path @questionario do 
        = link_to "Alterar Data de Término", edit_questionario_path(@questionario), class: "btn btn-default"
        = submit_tag"Encerrar Votação", class: "btn btn-primary", data: { confirm: 'Você tem certeza?', :class => "close"}


