<strong>Status: </strong>
Em Votação

<br>

<strong>Início: </strong>
<%= questionario.inicio_votacao %>

<br>

<strong>Previsão de Término: </strong>
<%= @questionario.previsao_termino %>

<br>

<p>
	<h3>Retorne</h3>
	<%= link_to '← Cpas em Preparação e Votação.', questionarios_path %><br>
	<%= link_to '← Cpas Encerrados.', encerrados_questionarios_path %>
</p>

<p>
	<h3>Visualize</h3>
	<%= link_to '→ Áreas e Funcionários.', questionario_areas_path(@questionario) %>
</p>

<p>
	<%= link_to '→ Cursos, Disciplinas e Turmas.', questionario_cursos_path(@questionario) %>
</p>

<p>
<%= link_to '→ Modelos, Tópicos e Perguntas.', questionario_modelos_path(@questionario) %>
</p>

<p>
	<h3>Gerencie</h3>
	<%= link_to 'Alterar o Nome ou Previsão de Término.', edit_questionario_path(@questionario) %><br>
	<%= link_to 'Deletar.', @questionario, method: :delete, data: { confirm: 'Você tem certeza?' } %>
</p>

<%= form_tag questionario_encerrar_votacao_path @questionario do %>
  <%= submit_tag("Encerrar Votação") %>
<% end %>