<h2>Editar CPA: <small><%= @questionario.nome %></small></h2>

<%= form_for(@questionario) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <p>
    <%= f.label :nome %>
    <%= f.text_field :nome %>
  </p>

  <% if @questionario.em_votacao? %>
    <p>
      <%= f.label :previsao_termino, "Previsão de Término" %>
      <%= f.date_select :previsao_termino %>
    </p>
  <% end %>

  <p>
    <%= f.submit "Atualizar" %>
    <%= link_to 'Cancelar', @questionario %>
  </p>
<% end %>
