<h2>CPAs</h2>

<p>
  <%= link_to 'Preparação e Votação', questionarios_path %>
</p>

<h3>Cpas Encerrados</h3>

<article>
  <%= "<p>Não há Cpas Encerrados.</p>".html_safe if @encerrados.empty? %>    

  <% @encerrados.each do |questionario| %>
    <section>
      <h4><%= link_to questionario.nome, questionario %></h4>
      <strong>Início: </strong><%= questionario.inicio_votacao %><br>
      <strong>Término: </strong><%= questionario.termino_votacao %>
    </section>
  <% end %>
</article>