.row
  .col-sm-2
    .bs-sidebar
      %ul.nav.nav-pills.nav-stacked   
        %li= link_to 'Novo', new_questionario_path 
        %li= link_to 'Configuração', configuracoes_questionarios_path 
        %li <a href=#>Ajuda</a>
    %hr.visible-xs
  .col-sm-10
    .col-lg-12
      .panel-group#accordion
        .panel.panel-success
          .panel-heading
            %h3.panel-title 
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#em_preparacao">Preparação </a>
              %span.badge= @preparacao.count
          .panel-collapse.collapse.in#em_preparacao
            .panel-body 
              = "<div class='col-lg-12'><div class='alert alert-success'><strong>Nenhum Questionário em Preparação!</strong> É necessário criar um novo questionário na clicando na opção <strong>novo</strong>.</div></div>".html_safe if @preparacao.empty?   
              .col-lg-12 
                - @preparacao.each do |questionario|
                  %section.col-lg-2.preparacao
                    %p.pull-right= link_to 'x', questionario, method: :delete, data: { confirm: 'Você tem certeza?', :class => "close"}
                    %h4= link_to questionario.nome, questionario_path(questionario)
                    = form_tag questionario_iniciar_votacao_path(questionario) do
                      =submit_tag "Iniciar Votação", class: "btn btn-default form-control", id: "iniciarVotacao"
        .panel.panel-success
          .panel-heading
            %h3.panel-title 
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#em_votacao">Votação </a>
              %span.badge= @votacao.count
          .panel-collapse.collapse.in#em_votacao
            .panel-body 
              = "<div class='col-lg-12'><div class='alert alert-success'><strong>Nenhum Questionário em Votação!</strong> Após a preparação do questionário, já podemos iniciar a votação.</div></div>".html_safe if @votacao.empty?      
              .col-lg-12 
                - @votacao.each do |questionario|
                  %section.col-lg-3.votacao
                    %h4= link_to questionario.nome, questionario
                    %p 
                      Início: 
                      %strong= questionario.inicio_votacao
                    %p
                      Término: 
                      %strong= questionario.previsao_termino
                    = form_tag questionario_encerrar_votacao_path(questionario) do
                      =submit_tag "Encerrar Votação", class: "btn btn-default form-control", data: { confirm: 'Você tem certeza?', :class => "close"}
        .panel.panel-success
          .panel-heading
            %h3.panel-title
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#em_encerrado">Encerrados </a> 
              %span.badge= @encerrados.count
          .panel-collapse.collapse#em_encerrado
            .panel-body
              = "<div class='col-lg-12'><div class='alert alert-success'><strong>Nenhum Questionário Encerrado!</strong> Após a preparação do questionário, já podemos iniciar a votação.</div></div>".html_safe if @encerrados.empty?    
              .col-lg-12 
                - @encerrados.each do |questionario|
                  %section.col-lg-2.preparacao
                    %h4= link_to questionario.nome, questionario
.modal.fade#iniciando{"data-backdrop" => "static"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Iniciando Votação...
      .modal-body
        %h5 Este processo pode demorar alguns minutos, aguarde.
        %br
        .progress.progress-striped.active
          .progress-bar.progress-bar-success{role: "progressbar", "aria-valuenow" =>"45", "aria-valuemin" => "0", "aria-valuemax" => "100", style: "width: 100%;"}
            %span.sr-only 100% Complete


