<div class="row">
  <!-- LeftSideBar -->
  <div class="col-sm-2">
    <%= render 'questionarios/new' %>
    <div class="bs-sidebar">
      <ul class="nav nav-pills nav-stacked">   
        <li class="hidden-lg"><%= link_to 'Novo', new_questionario_path %></li>
        <li><%= link_to 'Configuração', configuracoes_questionarios_path %></li>
        <li><%= link_to 'Encerrados', encerrados_questionarios_path %>  </li>
      </ul> 
    </div> 
    <hr class="visible-xs">
  </div>
  <!-- /LeftSideBar -->

  <!-- Content -->
  <div class="col-sm-10">
    <!-- Preparacao -->
    <div class="col-lg-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Preparação      <span class="badge">16</span></h3> <!-- Puxar contador depois-->
        </div>
        <div class="panel-body">
          <article class="row">
            <%= "<div class='col-lg-12'>
                    <div class='alert alert-success'>
                      <strong>Nenhum Questionário em Preparação!</strong> É necessário criar um novo questionário na clicando na opção <strong>novo</strong>.
                    </div>
                 </div>".html_safe if @preparacao.empty? %>      
            <% @preparacao.each do |questionario| %>
              <section id="preparacao" class = "col-lg-2">
                <p class="pull-right"><%= link_to 'x', questionario, method: :delete, data: { confirm: 'Você tem certeza?', :class => "close"} %></p>
                <h4><%= link_to questionario.nome, questionario_path(questionario) %></h4>
              </section>
            <% end %>
          </article>
        </div>
      </div>
    </div>  
    <!-- /Preparacao -->
    <!-- Votacao -->
    <div class="col-lg-12">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Votação      <span class="badge">0</span></h3> <!-- Puxar contador -->
        </div>
        <div class="panel-body">
          <article class="row">
            <%= "<div class='col-lg-12'>
                    <div class='alert alert-success'>
                      <strong>Nenhum Questionário em Votação!</strong> Após a preparação do questionário, já podemos iniciar a votação.
                    </div>
                 </div>".html_safe if @votacao.empty? %>      

            <% @votacao.each do |questionario| %>
              <section id="votacao" class = "col-lg-3">
                <h4><%= link_to questionario.nome, questionario %></h4>
                <strong>Início: </strong><%= questionario.inicio_votacao %><br>
                <strong>Término: </strong><%= questionario.previsao_termino %><br><br>
                
                  <%= form_tag questionario_encerrar_votacao_path(questionario) do %>
                    <%= submit_tag "Encerrar Votação", class: "btn btn-default form-control"%>
                  <% end %>
                
              </section>
            <% end %>
          </article>
        </div>
      </div>
    </div>
    <!-- Votacao -->
  </div>
  <!-- Content -->
</div>


