<h2>CPAs</h2>

<p>
  <%= link_to 'Novo', new_questionario_path %>
</p>
<p>
  <%= link_to 'Configuração', configuracoes_questionarios_path %>
</p>

<p>
  <%= link_to 'Encerrados', encerrados_questionarios_path %>
</p>

<h3>Cpas Em Preparação</h3>

<article>
  <%= "<p>Vazio</p>".html_safe if @preparacao.empty? %>    

  <% @preparacao.each do |questionario| %>
    <section>
      <h4><%= link_to questionario.nome, questionario %></h4>
    </section>
  <% end %>
</article>

<h3>Cpas Em Votação</h3>

<article>
  <%= "<p>Vazio.</p>".html_safe if @votacao.empty? %>    

  <% @votacao.each do |questionario| %>
    <section>
      <h4><%= link_to questionario.nome, questionario %></h4>
      <strong>Início: </strong><%= questionario.inicio_votacao %><br>
      <strong>Previsão de Término: </strong><%= questionario.previsao_termino %>
    </section>
  <% end %>
</article>

