<h3 class="text-center">Cadastrar Novo</h3>
<br>
<div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<%= form_for(@questionario) do |f| %>
		  <%= render 'shared/error_messages', object: f.object %>
			  <div class="form-group has-success">
		    	<%= f.text_field :nome, :placeholder => "Nome", :class => "form-control"%>
			  </div>
			  <%= f.submit "Cadastrar", :class => "btn btn-success btn-md form-control"%>
		<% end %>	
	</div>
</div>

<ul class="pager">
  <li class="previous">
    <%= link_to '← Voltar', questionarios_path  %>
  </li>
  
  <li class="next disabled">
    <%= link_to 'Avançar →', "#" %>
  </li>
</ul>			