%p#notice
	= notice
%h2
	CPA: 
	%small= @questionario.nome 
= if @questionario.em_preparacao?
	= render 'show_em_preparacao', questionario: @questionario 
= if @questionario.em_votacao? 
	=render 'show_em_votacao',    questionario: @questionario 
= if @questionario.encerrado?
	=render 'show_encerrado',     questionario: @questionario 
