<p id="notice">
  <%= notice %>
</p>

<h2>CPA: <small><%= @questionario.nome %></small></h2>

<% if @questionario.em_preparacao? %>
  <%= render 'show_em_preparacao', questionario: @questionario %>
<% elsif @questionario.em_votacao? %>
  <%= render 'show_em_votacao',    questionario: @questionario %>
<% elsif @questionario.encerrado? %>
  <%= render 'show_encerrado',     questionario: @questionario %>
<% end %>


% turma 		= Turma.create(sigla: "A") %>
% usuario  = Usuario.create(nome: "teste", tipo: "Aluno") %>
% Turmas_alunos.create(usuario_id: usuario.id, turma_id: turma.id) %>