<p id="notice">
  <%= notice %>
</p>

<h2>CPA: <small><%= @questionario.nome %></small></h2>

<% if @questionario.em_preparacao? %>
  <%= render 'show_em_preparacao', questionario: @questionario %>
<% elsif @questionario.em_votacao? %>
  <%= render 'show_em_votacao',    questionario: @questionario %>
<% elsif @questionario.encerrado? %>
  <%= render 'show_encerrado',     questionario: @questionario %>
<% end %>