<%= form_for([@questionario, @curso]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :sigla %><br>
    <%= f.text_field :sigla %>
  </div>

  <div class="field">
    <%= f.label :nivel, "Nível" %><br>
    <%= f.select :nivel, ([["Superior"], ["Técnico"], ["Integrado"]]) %>
  </div>

  <div class="field">
    <%= f.label :periodo, "Período" %><br>
    <%= f.select :periodo, ([["Noturno"], ["Vespertino"], ["Matutino"]]) %>
  </div>

  <div class="field">
    <%= f.label :semestre_atual, "Semestre Atual" %><br>
    <%= f.number_field :semestre_atual %>
  </div>

  <div class="field">
    <%= f.label :semestres_duracao, "Semestres de Duração" %><br>
    <%= f.number_field :semestres_duracao %>
  </div>

  <div class="field">
    <%= f.label :qtd_alunos, "Quantidade de Alunos" %><br>
    <%= f.number_field :qtd_alunos %>
  </div>

  <div class="field">
    <%= f.label :area, "Área" %><br>
    <%= f.collection_select :area_id, @curso.questionario.areas, :id, :nome %>
  </div>

  <div class="field">
    <%= f.label :observacao, "Observação" %><br>
    <%= f.text_field :observacao %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
