= form_for([@questionario, @modelo], html: { class: 'form-horizontal' }) do |f| 
  = render 'shared/error_messages', object: f.object
  .form-group
    = f.label :nome, :class => "col-sm-4 control-label"
    .col-sm-8
      = f.text_field :nome, :class => "form-control"
  .form-group
    .col-sm-offset-4.col-sm-8  
      = f.submit button, :class => "btn btn-success"