.panel.panel-success
  .panel-heading
    %h3.panel-title 
      Questionário : 
      %small
        = @questionario.nome
  .panel-body
    .row
      %section.col-lg-3.config
        %small
          %strong Questões :
        %h4= link_to 'Docente',docente_questionario_modelos_path(@questionario)
      .col-lg-1
      %section.col-lg-3.config
        %small
          %strong Questões :
        %h4= link_to 'Discente',discente_questionario_modelos_path(@questionario)
      .col-lg-1
      %section.col-lg-3.config
        %small
          %strong Questões :
        %h4= link_to 'TAE',tae_questionario_modelos_path(@questionario)
%ul.pager
  %li.previous
    = link_to '← Voltar', questionario_path(@questionario)