<h1>Modelos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Visibilidade</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @modelos.each do |modelo| %>
      <tr>
        <td><%= modelo.nome %></td>
        <td><%= modelo.visibilidade %></td>
        <td><%= link_to 'Exibir', modelo %></td>
        <td><%= link_to 'Editar', edit_modelo_path(modelo) %></td>
        <td><%= link_to 'Deletar', modelo, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '← Voltar', questionario_path(@questionario) %> |
<%= link_to 'Novo Modelo', new_questionario_modelo_path(@questionario) %>
