<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @modelo.nome %>
</p>

<p>
  <strong>Visibilidade:</strong>
  <%= @modelo.visibilidade %>
</p>

<%= link_to '← Voltar', questionario_modelos_path(@modelo.questionario) %> |
<%= link_to 'Editar', edit_modelo_path(@modelo) %>

<p>
  <%= link_to 'Tópicos →', modelo_topicos_path(@modelo) %>
</p> 