- if @questionario.em_preparacao?
  = render 'questionario', :modelos => @taes
- elsif @questionario.id == 1
  = render 'questionario', :modelos => @taes
- elsif @questionario.em_votacao?
  = render 'questionario_votacao', :modelos => @taes   
- elsif @questionario.encerrado?
  = render 'questionario_votacao', :modelos => @taes  
%ul.pager
  %li.previous
    = link_to 'â† Voltar', questionario_modelos_path(@questionario)