<%= form_for([@questionario, @area]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :funcionario_id, "Coordenador" %><br>
    <!-- = collection_select(:usuario, :funcionario_id, Funcionario.all, :id, :nome) %> -->
    <!-- %= collection_select(:funcionario, :usuaro_id, Funcionario.joins(:area).where('areas.questionario_id' => @questionario.id), :id, :nome) %> -->
    <!-- f.collection_select(:area, :usuario_id, Funcionario.joins(:usuario).where('usuarios.area_id' => @area.id), :usuario_id, :nome) %> -->
    <%= f.collection_select :funcionario_id, @area.funcionarios, :id, :nome %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  
<% end %>
