<%= form_for([@questionario, @area]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :usuario_id, "Coordenador Professor" %><br>
    <%= f.collection_select :usuario_id, Professor.joins(:usuario).where('usuarios.area_id' => @area.id), :usuario_id, :nome, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :usuario_id, "Coordenador TAE" %><br>
    <%= f.collection_select :usuario_id, Tae.joins(:usuario).where('usuarios.area_id' => @area.id), :usuario_id, :nome, include_blank: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
