<%= form_for([@questionario, @area]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :usuario, "Coordenador" %><br>
    <%= f.text_field :usuario %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
