<h2>Áreas</h2>

<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td><%= area.nome %></td>
        <td><%= link_to 'Editar', edit_area_path(area) %></td>
        <td><%= link_to 'Deletar', area, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Área', new_questionario_area_path(@questionario) %>
  
<ul class="pager">

  <li class="previous">
    <%= link_to '← Voltar', edit_questionario_path(@questionario) %>
  </li>
  
  <li class="next">
    <%= link_to 'Avançar →', questionario_funcionarios_path(@questionario) %>
  </li>
</ul>