.panel.panel-success
  .panel-heading
    %h3.panel-title 
      = link_to "", questionario_path(@questionario), :class => "glyphicon glyphicon-home pull-right"
      Áreas 
      %span.badge= @areas.count  
      / puxar contador do banco
  .panel-body 
    = "<div class='col-lg-12'><div class='alert alert-success'><strong>Não existem Áreas cadastradas!</strong> É necessário criar cadastrar uma nova área clicando no botão <strong>Nova Área</strong>.</div></div>".html_safe if @areas.empty?   
    .col-lg-12
      = form_tag destroy_multiple_questionario_areas_path, method: :delete do
        %table.table.table-hover
          %thead.html_safe
            %tr
              %th{:style => "width: 5px;"}
              %th Nome
              %th Coordenador
              %th{:style => "width: 5px;"}
              %th{:style => "width: 5px;"}
              %th{:style => "width: 5px;"}
          %tbody
            - @areas.each do |area| 
              %tr
                %td= check_box_tag "areas[]", area.id 
                %td= area.nome
                -if area.funcionario
                  %td= area.funcionario.nome
                -else
                  %td.warning Sem Coordenador  
                %td= link_to '', edit_area_path(area), :class => "glyphicon glyphicon-edit"
                %td= link_to '', area, method: :delete, data: { confirm: 'Você tem certeza?' }, :class => "glyphicon glyphicon-trash"
                %td
                  = link_to 'Funcionários', area_funcionarios_path(area), :id => "option"
        .well.btn-group.col-sm-12
          .pull-right
            = submit_tag "Deletar", :class => "btn btn-default"
            = link_to 'Nova Área', new_questionario_area_path(@questionario), :class => "btn btn-primary"
%ul.pager
  %li.previous
    = link_to '← Voltar', questionario_path(@questionario)

