<h1>Nova Área</h1>

<%= render 'form' %>
<%= form_for(@questionario) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <p>
      <%= f.label :nome %><br>
      <%= f.text_field :nome %>
    </p>

    <p>
      <%= f.submit "Cadastrar" %>
      <%= link_to 'Cancelar', questionarios_path %>
    </p>
  <% end %>
<ul class="pager">

  <li class="previous">
    <%= link_to '← Voltar', questionario_areas_path(@area.questionario) %>
  </li>
  
</ul>