%h3.text-center Nova Área
%br
.row 
  .col-md-offset-3.col-md-6
    = form_for([@questionario, @area], html: { class: 'form-horizontal' }) do |f| 
      = render 'shared/error_messages', object: f.object
      .form-group
        =f.label :nome, :class => "col-sm-3 control-label"
        .col-sm-9
          = f.text_field :nome, :class => "form-control success", :required => true
      .form-group
        .col-sm-offset-3.col-sm-9
          = f.submit "Cadastrar", :class => "btn btn-success"
%ul.pager
  %li.previous= link_to '← Voltar', questionario_areas_path(@area.questionario)