<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @area.nome %>
</p>

<p>
  <strong>Coordenador:</strong>
  <%= @area.funcionario.nome if @area.funcionario %>
</p>

<%= link_to 'â† Voltar', questionario_areas_path(@area.questionario) %> |
<%= link_to 'Editar', edit_area_path(@area) %>
