<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @area.nome %>
</p>

<p>
  <strong>Coordenador:</strong>
  <% if @area.usuario %>
  	<% if @area.usuario.professor %>
  		<%= @area.usuario.professor.nome %>
  	<% elsif @area.usuario.tae %>
			<%= @area.usuario.tae.nome %>
  	<% end %>
  <% end %>
</p>

<%= link_to '← Voltar', questionario_areas_path(@area.questionario) %> |
<%= link_to 'Editar', edit_area_path(@area) %>

<p>
  <%= link_to 'Professores →',  area_professores_path(@area) %>
</p>

<p>
  <%= link_to 'TAEs →',  area_taes_path(@area) %>
</p> 