<h2>Funcionários</h2>

<% @areas.each do |area| %>
<h3><%=area.nome%></h3>
	<table class="table table-hover">
	  <thead>
	    <tr>
	      <th>Nome</th>
	      <th>Prontuário</th>
	      <th>E-Mail</th>
	      <th></th>
	      <th></th>
	    </tr>
	  </thead>

	  <tbody>
		<% area.funcionarios.each do |funcionario| %>   
	      <tr>
	        <td><%= funcionario.nome %></td>
	        <td><%= funcionario.prontuario %></td>
	        <td><%= funcionario.email %></td>
	        <td><%= link_to 'Editar', edit_funcionario_path(funcionario.area) %></td>
	        <td><%= link_to 'Deletar', funcionario, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>
<br>



<ul class="pager">

  <li class="previous">
  	<%= link_to '← Voltar', questionario_preparacao_areas_path(@questionario) %>
  </li>
	
	<li class="next">
		<%= link_to 'Avançar →', questionario_preparacao_funcionarios_path(@questionario) %>
	</li>
</ul>