<%= form_for([@area, @funcionario]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.label :prontuario %><br>
    <%= f.text_field :prontuario %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>

  <%= f.fields_for :usuarios do |builder| %>
    <p>
      <%= builder.label :tipo %><br />
      <%= builder.select :tipo, ([["Professor"], ["TAE"]]) %><br />
    </p>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
