= form_for([@area, @funcionario], html: { class: 'form-horizontal' }) do |f| 
  = render 'shared/error_messages', object: f.object
  .form-group
    = f.label :nome, :class => "col-sm-3 control-label"
    .col-sm-9
      = f.text_field :nome, :class => "form-control"
  .form-group
    = f.label :email, :class => "col-sm-3 control-label"
    .col-sm-9
      = f.text_field :email, :class => "form-control", :type => "email"
  .form-group
    = f.fields_for :usuarios do |builder|
      = builder.label :tipo, :class => "col-sm-3 control-label"
      .col-sm-9      
        =builder.select :tipo, ([["Docente"], ["TAE"]]), :class => "col-sm-5 control-label"
  .form-group
    .col-sm-offset-3.col-sm-9  
      = f.submit button, :class => "btn btn-success"