<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @funcionario.nome %>
</p>

<p>
  <strong>Prontuario:</strong>
  <%= @funcionario.prontuario %>
</p>

<p>
  <strong>Email:</strong>
  <%= @funcionario.email %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @funcionario.usuario.tipo if @funcionario.usuario %>
</p>

<%= link_to 'â† Voltar', area_funcionarios_path(@funcionario.area) %> |
<%= link_to 'Editar', edit_funcionario_path(@funcionario) %>
