<!-- left-siderbar -->

<% tmp = 1 %>

<div class="container">
  <div class="row">
    <div class ="col-md-12">
      <% @discentes.each do |modelo| %>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h4 class="panel-title"><%=modelo.nome%></h4>
        </div>
          <div class="panel-group" id="accordion<%=tmp.to_s%>"> 
            <% modelo.topicos.each do |topico| %>
              <div class="panel panel-default">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%=tmp.to_s%>">
                  <div class="panel-heading">
                    <h4 class="panel-title" style="color:grey;"><%=topico.nome%></h4>
                  </div>
                </a>
                <div id="<%=tmp.to_s%>" class="panel-collapse collapse">
                  <div class= "panel-body">
                    <ol>
                      <% topico.perguntas.each do |pergunta| %>
                        <li><%=pergunta.enunciado%></li><br>      
                      <% end %>
                    </ol>
                  </div>
                </div>
              </div>
              <% tmp += 1 %>
            <% end %>
          </div>
        </div>  
      <% end %>
    </div>
    <div class ="col-md-6">
      <div id="graficos"></div>
    </div>  
  </div>
</div>